<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="{{ asset('image/logo/logo_small_icon_only.png') }}" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
            Deine-Abos
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('index') }}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Abos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('listSubscriptions') }}">Abo 端bersicht</a></li>
                        <li><a class="dropdown-item" href="{{ path('newSubscription') }}">Abo hinzuf端gen</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Kategorien
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('listCategories') }}">Kategorie 端bersicht</a></li>
                        <li><a class="dropdown-item" href="{{ path('newCategory') }}">Kategorie hinzuf端gen</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
